.ds {
    box-shadow: 
      0 10px 8px rgb(34, 218, 196), 
      0 4px 3px rgb(34, 218, 196);
  }
  /* This ensures the initial state of the card has opacity set to 0 and is translated down the y-axis */
/* Initial state for card visibility */
.card-initial {
  opacity: 0;
  transform: translateY(1.5rem); /* Reduce distance for smoother effect */
  transition: opacity 1s ease, transform 1s ease; /* Shortened duration */
}

/* When the card is in view, it will transition to full opacity and translate to its original position */
.card-in-view {
  opacity: 1;
  transform: translateY(0);
}
@keyframes slideInTop {
  0% {
    transform: translateY(100%); /* Start from below the container */
    opacity: 0; /* Start with transparency */
  }
  100% {
    transform: translateY(0); /* End at the normal position */
    opacity: 1; /* Fully visible at the end */
  }
}
.animate-slide-in-top {
  animation: slideInTop 1.8s ease forwards;
}