@keyframes slideInTop {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 0; /* Start fully opaque */
    }
    to {
      opacity: 1; /* End fully transparent */
    }
  }
  
  .animate-fade-out {
    animation: fadeOut 5s ease forwards;
  }
  
  .animate-slide-in-top {
    animation: slideInTop 1.8s ease forwards;
  }
  
  .bbg{
    background-image:url('../../assets/IMG 4.svg') ;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: auto 100%;
}
@media (max-width: 480px) {
    .bbg {
        background-position: right center ; 
        background-size: 70% auto; 
    }
}